name: koperasi_login_full
description: Login + Home example (safe & runnable)
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.7.0

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  google_fonts: ^6.1.0

flutter:
  uses-material-design: true
  assets:
    - assets/logo_koperasi.jpeg